:root {
    --primary: #00b8e2;
}
body{
    margin-top:140px !important;
}
.body_header{
    text-align: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 763px) {
.body_header{
    display: none;
}

body{
    margin-top:600px !important;
}
}

.row_content{
    margin-top: -30px !important;
}